.elem-menu > img {
    width: 4vw;
    border-radius: 5vw;
    margin-right: 0.2vw;
}
.header {
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1vw;
}
.menu {
    display: grid;
    grid-template-columns: 12% 12% 12% 62%;
    align-items: center;
    justify-content: center;
    background: white;
}
.atom-menu {
    text-align: right;
    font-size: 2vw;
}
.atom-menu > img {
    border-radius: 0vw;
    width: 10vw;
}
a {
    color: black;
}
/*контент*/
.content {
    background: #D9D9D9;
    padding: 2vw 28vw 4vw 28vw;
}
.elem-content {
    background: white;
    border-radius: 1vw;
}
.title-content {
    text-align: center;
    font-size: 2vw;
    padding-top: 2vw;
}
.atom-content {
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.1vw;
}
.form-content {
    border: 1px solid black;
    border-radius: 1vw;
    padding: 2vw;
}
.input-content {
    width: 100%;
    border-radius: 0.3vw;
}
.button {
    width: 49%;
    margin-top: 2vw;
    padding: 0.3vw;
    border-radius: 0.5vw;
    border: none;
}
.button-one {
    background: #ECF2FF;
}
.button-two {
    background: #1E1E1E;
    color: white;
}
.img-content {
    text-align: right;
}
.img-content > img {
    width: 10vw;
}
