.elem-menu > img {
    width: 5vw;
    border-radius: 5vw;
}
.header {
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.1vw;
}
.menu {
    display: grid;
    grid-template-columns: 15% 11% 19% 15% 40%;
    align-items: center;
    justify-content: center;
    background: white;
}
.atom-menu {
    text-align: right;
    font-size: 2vw;
}
a {
    color: black;
}